@{
    ViewData["Title"] = "Upload Successfull";
}

<div class="jumbotron">
    <h3>Branding Police</h3>
    <h5>Successfully uploaded into the cloud blob storage</h5>
    <p id="link">Please wait, your data is beeing processed</p>
    <object id="file" data="https://brandingpolice.blob.core.windows.net/uploadppts/results_test.pptx.txt" type="text/plain" width="680" height="180"></object>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
    var urlResult = "@ViewData["resultUri"]";
    var isActive = true;

    $().ready(function () {
        //EITHER USE A GLOBAL VAR OR PLACE VAR IN HIDDEN FIELD
        //IF FOR WHATEVER REASON YOU WANT TO STOP POLLING
        pollServer();
    });

    function pollServer() {
        if (isActive) {
            window.setTimeout(function () {
                $.ajax({
                    url: urlResult,
                    type: "GET",
                    success: function () {
                        console.log("Poll successfull");
                        document.getElementById("link").innerHTML = "<a href={" + urlResult + "}>" + urlResult + "</a>";
                        var fenster = window.open(urlResult);
                    },
                    error: function () {
                        console.log("Poll error");

                        pollServer();
                    }
                });
            }, 2500);
        }
    }
</script>
