@{
    ViewData["Title"] = "Upload Successfull";
}

<div class="jumbotron">
    <h3>Branding Police</h3>
    <h5>The file is successfully uploaded into the cloud blob storage</h5>
    <h5>You can check the results <a href=@ViewData["resultUri"]>here</h5>
</div>
